body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c90ca;
    color: #f8f9fa;
    text-align: center;
    height: 482px;
}
.header > h3 {
    margin-top: 100px;
    border-bottom: 3px solid #202979;
    font-size: 30px;
}
.header > a {
    color: #b5b8d1;
    background-color: #202979;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}
.card {
    background-color: rgb(199, 215, 252);
    width: 50%;
    margin: -100px auto;
    padding: 40px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.form-group > label {
    margin-bottom: 4px;
    font-weight: 500;
    color: #202979;
    font-size: 16px;
}
.form-group > input {
    padding: 12px;
    border: 1px solid rgb(199, 215, 252);
    border-radius: 4px;
}
.form-group >input:focus {
    border: 1px solid rgb(199, 215, 252);
    outline: none;
}
.form-group > select {
    border: 1px solid rgb(199, 215, 252);
    border-radius: 4px;
    padding: 12px;
}
.form-group > textarea {
    border: 1px solid rgb(199, 215, 252);
    border-radius: 4px;
    padding: 12px;
    resize: vertical;
    min-height: 200px;
}
form > button {
    width: 100%;
    padding: 12px;
    background-color: #283186;
    color: #b7beff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}